mixin renderExerciseStars(numStars, size)
  - var stars = numStars
  - var emptyStars = 4 - stars
  while stars-- > 0
    span 
      img(src="/assets/img/star.png" width=size || 30)
  while emptyStars-- > 0
    span 
      img(src="/assets/img/star_empty.png" width=size || 30)
