.highlight-dt-row {
  background-color: #DAF7A6 !important;
}

.required-content {
  color: red;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

/*
  Making youtube embed responsive is tricky...
  https://stackoverflow.com/questions/15844500/shrink-a-youtube-video-to-responsive-width
*/
#ytPlayerContainer {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
#ytPlayerContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

