extend layout/base

block content
  header
    h1
      | Nusantara Gizmo - Solusi Aksesoris Elektronik
    p
      | Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus arcu elementum ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros aliquam. Lorem ipsum dolor sit amet nullam dolore.

    section.promotion
      h2 Produk Unggulan
      section.tiles
        article.style1
          span.image
            img(src="assets/images/promotion1.jpg" alt="")
          a(href="generic.html")
            h2 Magna
            .content
              p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
        article.style2
          span.image
            img(src="assets/images/promotion1.jpg" alt="")
          a(href="generic.html")
            h2 Lorem
            .content
              p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.

    section.small-promotion
      section.tiles
        article.small-promotion
          span.image
            img(src="assets/images/promotion1.jpg" alt="")
          a(href="generic.html")
            h2 Magna
            .content
              p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.

        article
          span.image
            img(src="assets/images/promotion1.jpg" alt="")
          a(href="generic.html")
            h2 Magna
            .content
              p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.

        article
          span.image
            img(src="assets/images/promotion1.jpg" alt="")
          a(href="generic.html")
            h2 Magna
            .content
              p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.

        article
          span.image
            img(src="assets/images/promotion1.jpg" alt="")
          a(href="generic.html")
            h2 Magna
            .content
              p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.

  section.category
    h2 Kategori
    section.tiles
      article.style1
        span.image
          img(src="assets/images/pic01.jpg" alt="")
        a(href="generic.html")
          h2 Magna
          .content
            p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
      article.style2
        span.image
          img(src="assets/images/pic02.jpg" alt="")
        a(href="generic.html")
          h2 Lorem
          .content
            p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
      article.style3
        span.image
          img(src="assets/images/pic03.jpg" alt="")
        a(href="generic.html")
          h2 Feugiat
          .content
            p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
      article.style4
        span.image
          img(src="assets/images/pic04.jpg" alt="")
        a(href="generic.html")
          h2 Tempus
          .content
            p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.

  section.category
    h2 Produk
    section
      article.style5
        span.image
          img(src="assets/images/pic05.jpg" alt="")
        a(href="generic.html")
          h2 Aliquam
          .content
            p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
      article.style6
        span.image
          img(src="assets/images/pic06.jpg" alt="")
        a(href="generic.html")
          h2 Veroeros
          .content
            p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
      article.style2
        span.image
          img(src="assets/images/pic07.jpg" alt="")
        a(href="generic.html")
          h2 Ipsum
          .content
            p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
      article.style3
        span.image
          img(src="assets/images/pic08.jpg" alt="")
        a(href="generic.html")
          h2 Dolor
          .content
            p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
      article.style1
        span.image
          img(src="assets/images/pic09.jpg" alt="")
        a(href="generic.html")
          h2 Nullam
          .content
            p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
      article.style5
        span.image
          img(src="assets/images/pic10.jpg" alt="")
        a(href="generic.html")
          h2 Ultricies
          .content
            p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
      article.style6
        span.image
          img(src="assets/images/pic11.jpg" alt="")
        a(href="generic.html")
          h2 Dictum
          .content
            p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
      article.style4
        span.image
          img(src="assets/images/pic12.jpg" alt="")
        a(href="generic.html")
          h2 Pretium
          .content
            p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.